@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100%;
    background-color: #b188562a;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* font-family: "Montserrat", sans-serif; */
    font-family: Arial, Helvetica, sans-serif
}

.header{
    @apply bg-[#b18856] w-full fixed bottom-0 z-10 rounded-t-[0.8rem] pt-4 pb-4;
}
.logo{
    @apply bg-[#b18856] fixed top-0 flex z-20 items-center justify-center w-full rounded-b-[1.8rem];
}
.navbar{
   @apply flex items-center justify-center pb-3;
}

.nav_link{
    @apply text-xl font-bold text-white mx-[0.5rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:text-black transition-all duration-300;
}

.section{
    @apply w-full pt-[5%];
}
/* .car_img{
    @apply w-full h-full object-cover;
} */

.section_content{
    @apply text-center w-full flex justify-center;
}
.transform_50{
    transform: translate(-50%, -50%);
}
/* .model_name{
    @apply text-[4rem] text-[#393c41] font-semibold;
} */

/* .tag_line{
    @apply text-[#4c4d4f] text-2xl;
} */


.footer{
  @apply w-full z-10 flex items-center justify-center mt-[45%] lg:mt-[15%];
}
.copyright{
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.2rem] px-[1.4rem] rounded-[3.2rem] bg-opacity-80;
}



/* MY CSS START */

/* Preload Section Start */
  .preload{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .hidden{
    display: none;
  }
  .loader{
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    border: 16px solid black;
    border-top: 16px solid #b18856;
    border-bottom: 16px solid #b18856;
    border-radius: 30%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* Preload section Ends */

/* Home Profile Section */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.738);
  /* max-width: 350px; */
}

.price {
  color: grey;
  font-size: 22px;
}

.card .socials {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #b18856;
  text-align: center;
  /* cursor: pointer; */
  width: 100%;
  font-size: 18px;
}



/* Gallery Section */
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    /* max-width: 320px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.738);
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    /* width: 300px;
    margin: auto;
    max-width: 50%; */
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 8px;
    margin-top: -50px;
    background-color: rgba(133, 78, 78, 0.8);
    /* background-color: #ffe4c45e; */
    color: #ffe4c4;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #ffe4c45e;
  }
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row{
   display: flex;
  }
  
  /* Six columns side by side */
  .column {
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  /* THE MODAL SECTIONS */
  /* Style the Image Used to Trigger the Modal */
#myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 130px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 400px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 13%;
  right: 20px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 70%;
  }
 
}

@media only screen and (min-width: 700px){
 
  .card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.738); */
  max-width: 350px;
}

.container {
    /* position: relative; */
    max-width: 320px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.738); */
  }
}


